wa_json_flow.json
[
    {
        "id": "f83166b1.2d5248",
        "type": "tab",
        "label": "EIT62-WA Design",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f1e4938.97d726",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into user (lastname, forename, description, username, password, salt , userpicture) values ('\"+msg.payload.lastname+\"','\"+msg.payload.forename+\"','\"+msg.payload.description+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.userpicture+\"')\";\nmsg.topic = \"insert into user (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "d89345d3.304498"
            ]
        ]
    },
    {
        "id": "d89345d3.304498",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "7f9d1df0.d1b8a4"
            ]
        ]
    },
    {
        "id": "cc63a63f.243038",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "Matches",
        "url": "/matches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 700,
        "wires": [
            [
                "3b4d210d.24b17e"
            ]
        ]
    },
    {
        "id": "3b4d210d.24b17e",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Insert Matches",
        "func": "msg.topic = \"insert into matches (employer_employer_id,user_user_id,compability,user_accepted,employer_accepted) values('\"+msg.payload.employer_id+\"','\"+msg.payload.user_id+\"','\"+msg.payload.compability+\"','\"+msg.payload.user_accepted+\"','\"+msg.payload.employer_accepted+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "7fee47e1.7b1598"
            ]
        ]
    },
    {
        "id": "7fee47e1.7b1598",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "d4992201.d7f82"
            ]
        ]
    },
    {
        "id": "53dc3be3.0bc094",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "Get Matches",
        "url": "/getMatches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "8dd0d36e.a820e"
            ]
        ]
    },
    {
        "id": "8dd0d36e.a820e",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Get Matches ??",
        "func": "msg.topic = \"select * from matches where user_accepted = 'Y' and employer_accepted = 'Y'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 760,
        "wires": [
            [
                "65fa6bd9.0cd784"
            ]
        ]
    },
    {
        "id": "65fa6bd9.0cd784",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 430,
        "y": 760,
        "wires": [
            [
                "d4992201.d7f82"
            ]
        ]
    },
    {
        "id": "d4992201.d7f82",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 555,
        "y": 740,
        "wires": []
    },
    {
        "id": "67eea7f0.aa42b8",
        "type": "link in",
        "z": "f83166b1.2d5248",
        "name": "",
        "links": [
            "d4992201.d7f82",
            "41b503ba.4f796c",
            "7f9d1df0.d1b8a4",
            "fd2ab185.e346f8",
            "6193a63f.a5b0d8",
            "d392b9af.3e6688",
            "a435fbb7.4c747",
            "862dce4a.8311",
            "ca7a2703.aac0d8",
            "cc2c9edd.96db4",
            "d79e335c.a28ce",
            "b6dd63c3.2cfae",
            "510dfaee.0fafe4",
            "55b5b112.4f54",
            "74f18bc7.017974",
            "4db7fb14.6e2384",
            "2a2f6156.5640ae"
        ],
        "x": 995,
        "y": 280,
        "wires": [
            [
                "c235fc1f.b7b38"
            ]
        ]
    },
    {
        "id": "3d54d6d8.9c3aba",
        "type": "http response",
        "z": "f83166b1.2d5248",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1265,
        "y": 280,
        "wires": []
    },
    {
        "id": "c235fc1f.b7b38",
        "type": "json",
        "z": "f83166b1.2d5248",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1125,
        "y": 280,
        "wires": [
            [
                "3d54d6d8.9c3aba"
            ]
        ]
    },
    {
        "id": "7f9d1df0.d1b8a4",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 535,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9259400.6e9ed8",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "RegiEmp",
        "url": "/regiemployee",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "7685848a.2fd61c"
            ]
        ]
    },
    {
        "id": "7685848a.2fd61c",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into employer (name,username,password,salt,employerpicture,description) values ('\"+msg.payload.name+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.employerpicture+\"','\"+msg.payload.description+\"')\";\nmsg.topic = \"insert into employer (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "6c9698af.425cb8"
            ]
        ]
    },
    {
        "id": "6c9698af.425cb8",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "7f9d1df0.d1b8a4"
            ]
        ]
    },
    {
        "id": "58ff10c8.09168",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "DeleteUser",
        "url": "/deleteUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 900,
        "wires": [
            [
                "fa1ffe21.1f571"
            ]
        ]
    },
    {
        "id": "fa1ffe21.1f571",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Delete User",
        "func": "msg.topic = \"delete from user where username = '\"+msg.payload.user+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "af04481a.906c38"
            ]
        ]
    },
    {
        "id": "af04481a.906c38",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 400,
        "y": 900,
        "wires": [
            [
                "d392b9af.3e6688"
            ]
        ]
    },
    {
        "id": "6bd789d.69e9378",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "DeleteEmp",
        "url": "/DeleteEmployer",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 960,
        "wires": [
            [
                "fb79d4cf.c049f8"
            ]
        ]
    },
    {
        "id": "fb79d4cf.c049f8",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Delete Employee",
        "func": "msg.topic = \"delete from employer where username = '\" + msg.payload.employer+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 960,
        "wires": [
            [
                "9b103d0.6bb94c"
            ]
        ]
    },
    {
        "id": "9b103d0.6bb94c",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 430,
        "y": 960,
        "wires": [
            [
                "d392b9af.3e6688"
            ]
        ]
    },
    {
        "id": "d392b9af.3e6688",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 555,
        "y": 900,
        "wires": []
    },
    {
        "id": "f462479b.079be8",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "AddSkill",
        "url": "/AddSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1080,
        "wires": [
            [
                "3f92cdc4.b4ccc2"
            ]
        ]
    },
    {
        "id": "3f92cdc4.b4ccc2",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into user_has_skill (user_user_id,skill_skill_id,level) values ('\"+msg.payload.user_id+\"','\"+msg.payload.skill_id+\"','\"+msg.payload.level+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "afb9a730.c5bca8"
            ]
        ]
    },
    {
        "id": "afb9a730.c5bca8",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "862dce4a.8311"
            ]
        ]
    },
    {
        "id": "862dce4a.8311",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 505,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9d33128c.489ab",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "GetEmpSkill",
        "url": "/GetEmpSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1220,
        "wires": [
            [
                "42115a5b.ba2d24"
            ]
        ]
    },
    {
        "id": "f0ba73b9.0d348",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "ca7a2703.aac0d8",
                "46a93187.cedaf"
            ]
        ]
    },
    {
        "id": "42115a5b.ba2d24",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Get Skills",
        "func": "msg.topic = \"select s.* from employer_needs_skill es inner join skill s on es.skill_skill_id = s.skill_id and es.employer_employer_id = \"+ msg.payload.emp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "f0ba73b9.0d348",
                "46a93187.cedaf"
            ]
        ]
    },
    {
        "id": "ca7a2703.aac0d8",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 465,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f3d016df.b3bdf8",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "EmployerSkill",
        "url": "/AddEmpSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "6182dda6.f5f9b4"
            ]
        ]
    },
    {
        "id": "6182dda6.f5f9b4",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into employer_needs_skill (employer_employer_id,skill_skill_id) values ('\"+msg.payload.employer_id+\"','\"+msg.payload.skill_id+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "e06e230a.8a3dc"
            ]
        ]
    },
    {
        "id": "e06e230a.8a3dc",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "cc2c9edd.96db4"
            ]
        ]
    },
    {
        "id": "cc2c9edd.96db4",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 495,
        "y": 1120,
        "wires": []
    },
    {
        "id": "20b4a459.b9ab9c",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "UpdateEmployer",
        "url": "/setDataEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "efdf92fd.89024"
            ]
        ]
    },
    {
        "id": "53a55df6.106ce4",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "UpdateUser",
        "url": "/setDataUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "c08d4298.7f5a8"
            ]
        ]
    },
    {
        "id": "c08d4298.7f5a8",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "",
        "func": "\nmsg.topic = \"update user set lastname = '\"+msg.payload.lastname+\"', forename = '\"+msg.payload.forename+\"', description = '\"+msg.payload.descr+\"', userpicture = '\"+msg.payload.userpicture+\"', salt = '\"+msg.payload.salt+ \"' where username = '\"+msg.payload.username+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "b4b4491.b906cb8"
            ]
        ]
    },
    {
        "id": "efdf92fd.89024",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "",
        "func": "msg.topic = \"update employer set name = '\"+msg.payload.name+\"', employerpicture = '\"+msg.payload.employerpicture+\"', description = '\"+msg.payload.descr+\"', salt = '\"+msg.payload.salt+\"' where username = '\"+msg.payload.employername+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "2e44ae0c.a950a2"
            ]
        ]
    },
    {
        "id": "b4b4491.b906cb8",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "d79e335c.a28ce"
            ]
        ]
    },
    {
        "id": "2e44ae0c.a950a2",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "d79e335c.a28ce"
            ]
        ]
    },
    {
        "id": "d79e335c.a28ce",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 555,
        "y": 540,
        "wires": []
    },
    {
        "id": "736cd8d3.d78118",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "Login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c7544d8e.ab2a7"
            ]
        ]
    },
    {
        "id": "c7544d8e.ab2a7",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Select user",
        "func": "msg.topic = \"select * from user u where u.username = '\"+ msg.payload.username + \"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "a87a02bc.b95ae"
            ]
        ]
    },
    {
        "id": "a87a02bc.b95ae",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "510dfaee.0fafe4"
            ]
        ]
    },
    {
        "id": "510dfaee.0fafe4",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 515,
        "y": 200,
        "wires": []
    },
    {
        "id": "38ad371f.4abfe8",
        "type": "inject",
        "z": "f83166b1.2d5248",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "82a069c0.a08ad8"
            ]
        ]
    },
    {
        "id": "82a069c0.a08ad8",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "delete matches",
        "func": "msg.topic = \"delete from matches where user_accepted is not true or employer_accepted is not true\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "8de22c0.c3fd4d8"
            ]
        ]
    },
    {
        "id": "8de22c0.c3fd4d8",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 490,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c74a5b8d.8011b8",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Loescht die matches nach 24h, wenn der user und employer nicht akpzeptiert hat",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "1cb6cb45.21f335",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Login fuer den User & Employer",
        "info": "",
        "x": 160,
        "y": 160,
        "wires": []
    },
    {
        "id": "b5f47ac6.e54778",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Registierung fuer den User & Employer",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "f727b53b.b84ab8",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Update die Daten fuer den User, wenn der diese aendern moechte",
        "info": "",
        "x": 260,
        "y": 460,
        "wires": []
    },
    {
        "id": "e499f2c0.dfba4",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Einfuegen/Holt sich die Matches",
        "info": "",
        "x": 150,
        "y": 660,
        "wires": []
    },
    {
        "id": "511adfaa.96ca4",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Zum loeschen der Daten vom User/Employer",
        "info": "",
        "x": 190,
        "y": 860,
        "wires": []
    },
    {
        "id": "a63c2286.51871",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Fuegt die ausgewaehlten Skill zu den User/Employer",
        "info": "",
        "x": 210,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d28236e9.b96bf8",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "Holt sich die Skills",
        "info": "",
        "x": 110,
        "y": 1180,
        "wires": []
    },
    {
        "id": "13c71d6e.d344c3",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "GetEmp",
        "url": "/getAllEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 60,
        "y": 1380,
        "wires": [
            [
                "219bee1f.060fe2"
            ]
        ]
    },
    {
        "id": "4298c9fb.007178",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 350,
        "y": 1380,
        "wires": [
            [
                "55b5b112.4f54"
            ]
        ]
    },
    {
        "id": "219bee1f.060fe2",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from employer\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "4298c9fb.007178"
            ]
        ]
    },
    {
        "id": "55b5b112.4f54",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 475,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d601e63c.349a38",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "GetUser",
        "url": "/getAllUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 60,
        "y": 1420,
        "wires": [
            [
                "de625ede.99a95"
            ]
        ]
    },
    {
        "id": "48b8e249.6a584c",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 350,
        "y": 1420,
        "wires": [
            [
                "74f18bc7.017974"
            ]
        ]
    },
    {
        "id": "de625ede.99a95",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from user\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "48b8e249.6a584c"
            ]
        ]
    },
    {
        "id": "74f18bc7.017974",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 475,
        "y": 1420,
        "wires": []
    },
    {
        "id": "545ca087.bd7",
        "type": "comment",
        "z": "f83166b1.2d5248",
        "name": "holt sich alle User/Employer",
        "info": "",
        "x": 130,
        "y": 1340,
        "wires": []
    },
    {
        "id": "1a0a6580.1faa8b",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "GetUserSkill",
        "url": "/GetUserSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1260,
        "wires": [
            [
                "83fc7dd8.4b62b"
            ]
        ]
    },
    {
        "id": "ade47fa8.6ad2f",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "4db7fb14.6e2384",
                "46a93187.cedaf"
            ]
        ]
    },
    {
        "id": "83fc7dd8.4b62b",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Get Skills",
        "func": "msg.topic = \"select s.* from user_has_skill us inner join skill s on us.skill_skill_id = s.skill_id and us.user_user_id = \"+ msg.payload.user\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "ade47fa8.6ad2f",
                "46a93187.cedaf"
            ]
        ]
    },
    {
        "id": "4db7fb14.6e2384",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 465,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b8394ded.28e17",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "GetSkill",
        "url": "/GetSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 1300,
        "wires": [
            [
                "b308f916.72c878"
            ]
        ]
    },
    {
        "id": "f61644d3.e29b38",
        "type": "mysql",
        "z": "f83166b1.2d5248",
        "mydb": "1c22e84f.c66778",
        "name": "WA",
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "2a2f6156.5640ae",
                "46a93187.cedaf"
            ]
        ]
    },
    {
        "id": "b308f916.72c878",
        "type": "function",
        "z": "f83166b1.2d5248",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from skill\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "f61644d3.e29b38",
                "46a93187.cedaf"
            ]
        ]
    },
    {
        "id": "2a2f6156.5640ae",
        "type": "link out",
        "z": "f83166b1.2d5248",
        "name": "Out Format",
        "links": [
            "67eea7f0.aa42b8"
        ],
        "x": 465,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ee836659.064fb8",
        "type": "http in",
        "z": "f83166b1.2d5248",
        "name": "RegiUser",
        "url": "/regi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "2f1e4938.97d726"
            ]
        ]
    },
    {
        "id": "46a93187.cedaf",
        "type": "debug",
        "z": "f83166b1.2d5248",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 660,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1c22e84f.c66778",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "work_angel_db",
        "tz": ""
    }
]