wa_json_flow.json
[
    {
        "id": "bdff3fd8.bc0d4",
        "type": "tab",
        "label": "EIT62-WA Design",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da6bada7.a793e8",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "LoginUser",
        "url": "/loginUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "fc212caf.5069a"
            ]
        ]
    },
    {
        "id": "8b8a7b34.f5c22",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "Format - Fehler",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"gefunden\":0}",
        "output": "str",
        "x": 860,
        "y": 20,
        "wires": [
            [
                "41b503ba.4f796c"
            ]
        ]
    },
    {
        "id": "ded95f1c.4364f8",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "3e7fea4.53cb696"
            ]
        ]
    },
    {
        "id": "fc212caf.5069a",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get ID/PW",
        "func": "msg.password = msg.payload.password;\nmsg.topic = \"select * from user where username = '\" + msg.payload.user+\"'\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "ded95f1c.4364f8"
            ]
        ]
    },
    {
        "id": "a7267094.130a1",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "Format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"gefunden\":1}",
        "output": "str",
        "x": 860,
        "y": 100,
        "wires": [
            [
                "41b503ba.4f796c"
            ]
        ]
    },
    {
        "id": "3e7fea4.53cb696",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Compare Data",
        "func": "if(msg.payload.password == msg.password){\n    msg.compare = 1;\n}else{\n    msg.compare = 2;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "de0c50de.2c051"
            ]
        ]
    },
    {
        "id": "de0c50de.2c051",
        "type": "switch",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "property": "compare",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "8b8a7b34.f5c22"
            ],
            [
                "a7267094.130a1"
            ]
        ]
    },
    {
        "id": "dd9cbb7c.82c2c",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "RegiUser",
        "url": "/regi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "8a535f6f.3f23d"
            ]
        ]
    },
    {
        "id": "8a535f6f.3f23d",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into user (lastname, forename, description, username, password, salt , userpicture) values ('\"+msg.payload.lastname+\"','\"+msg.payload.forename+\"','\"+msg.payload.description+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.userpicture+\"')\";\nmsg.topic = \"insert into user (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "95201721.908eb"
            ]
        ]
    },
    {
        "id": "95201721.908eb",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "aeb7ce66.1cd7f8"
            ]
        ]
    },
    {
        "id": "aeb7ce66.1cd7f8",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "c9062c56.2deac8"
            ]
        ]
    },
    {
        "id": "7bf9eee8.9826e",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "Matches",
        "url": "/matches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "22a6cd05.476ed2"
            ]
        ]
    },
    {
        "id": "22a6cd05.476ed2",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Insert Matches",
        "func": "msg.topic = \"insert into matches (employer_employer_id,user_user_id,compability,user_accepted,employer_accepted) values('\"+msg.payload.employer+\"','\"+msg.payload.user+\"','\"+msg.payload.compability+\"','\"+msg.payload.user_accepted+\"','\"+msg.payload.employer_accepted+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 740,
        "wires": [
            [
                "5aada1c4.6068a"
            ]
        ]
    },
    {
        "id": "5aada1c4.6068a",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 450,
        "y": 740,
        "wires": [
            [
                "862489fd.c40758"
            ]
        ]
    },
    {
        "id": "862489fd.c40758",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 570,
        "y": 760,
        "wires": [
            [
                "a048bf8b.9e9038"
            ]
        ]
    },
    {
        "id": "644a73fc.4df86c",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Matches",
        "url": "/getMatches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "2607eabf.5d0e66"
            ]
        ]
    },
    {
        "id": "2607eabf.5d0e66",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Matches ??",
        "func": "msg.topic = \"select * from matches where user_accepted = 'Y' and employer_accepted = 'Y'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 840,
        "wires": [
            [
                "696c8023.306798"
            ]
        ]
    },
    {
        "id": "696c8023.306798",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 450,
        "y": 840,
        "wires": [
            [
                "2b52d3fe.8bf9b4"
            ]
        ]
    },
    {
        "id": "2b52d3fe.8bf9b4",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 570,
        "y": 820,
        "wires": [
            [
                "a048bf8b.9e9038"
            ]
        ]
    },
    {
        "id": "a048bf8b.9e9038",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 715,
        "y": 780,
        "wires": []
    },
    {
        "id": "c05b11b1.2fd4f8",
        "type": "link in",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "links": [
            "a048bf8b.9e9038",
            "41b503ba.4f796c",
            "c9062c56.2deac8",
            "fd2ab185.e346f8",
            "6193a63f.a5b0d8",
            "21a38900.3bf018",
            "a435fbb7.4c747",
            "8b74568a.be7e1",
            "1f104b1.b6df035",
            "2fc1fe86.00f75a"
        ],
        "x": 995,
        "y": 280,
        "wires": [
            [
                "198f209e.b778bf"
            ]
        ]
    },
    {
        "id": "f877fc3b.610bc8",
        "type": "http response",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1265,
        "y": 280,
        "wires": []
    },
    {
        "id": "198f209e.b778bf",
        "type": "json",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1125,
        "y": 280,
        "wires": [
            [
                "f877fc3b.610bc8"
            ]
        ]
    },
    {
        "id": "41b503ba.4f796c",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 1035,
        "y": 60,
        "wires": []
    },
    {
        "id": "c9062c56.2deac8",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 695,
        "y": 300,
        "wires": []
    },
    {
        "id": "453fd240.9e0b2c",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "RegiEmp",
        "url": "/regiemployee",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "19e4309a.ffc097"
            ]
        ]
    },
    {
        "id": "19e4309a.ffc097",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into employer (name,username,password,salt,employerpicture,description) values ('\"+msg.payload.name+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.employerpicture+\"','\"+msg.payload.description+\"')\";\nmsg.topic = \"insert into employer (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "f5831746.ba4a7"
            ]
        ]
    },
    {
        "id": "f5831746.ba4a7",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "26b41db8.0e74fa"
            ]
        ]
    },
    {
        "id": "26b41db8.0e74fa",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "fd2ab185.e346f8"
            ]
        ]
    },
    {
        "id": "fd2ab185.e346f8",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 695,
        "y": 360,
        "wires": []
    },
    {
        "id": "3be39fda.69a3e",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "DeleteUser",
        "url": "/deleteUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 940,
        "wires": [
            [
                "c53898ac.06b4f8"
            ]
        ]
    },
    {
        "id": "c53898ac.06b4f8",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Delete User",
        "func": "msg.topic = \"delete from user where username = '\"+msg.payload.user+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "79663101.6c8a1"
            ]
        ]
    },
    {
        "id": "79663101.6c8a1",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 940,
        "wires": [
            [
                "5b487ae2.c479dc"
            ]
        ]
    },
    {
        "id": "5b487ae2.c479dc",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 560,
        "y": 920,
        "wires": [
            [
                "6193a63f.a5b0d8"
            ]
        ]
    },
    {
        "id": "6193a63f.a5b0d8",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 695,
        "y": 920,
        "wires": []
    },
    {
        "id": "558c6d8d.cb35cc",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "DeleteEmp",
        "url": "/DeleteEmployee",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1000,
        "wires": [
            [
                "13bbcc2e.83275c"
            ]
        ]
    },
    {
        "id": "13bbcc2e.83275c",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Delete Employee",
        "func": "msg.topic = \"delete from employer where username = '\" + msg.payload.employer+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "17a2aa57.80b546"
            ]
        ]
    },
    {
        "id": "17a2aa57.80b546",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "1cb185f3.e0b6f2"
            ]
        ]
    },
    {
        "id": "1cb185f3.e0b6f2",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 590,
        "y": 980,
        "wires": [
            [
                "21a38900.3bf018"
            ]
        ]
    },
    {
        "id": "21a38900.3bf018",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 735,
        "y": 980,
        "wires": []
    },
    {
        "id": "30c36ae8.25c836",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "LoginEmp",
        "url": "/loginEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "8455b483.5977d"
            ]
        ]
    },
    {
        "id": "eb256a8a.467a48",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "Format - Fehler",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 860,
        "y": 140,
        "wires": [
            [
                "a435fbb7.4c747"
            ]
        ]
    },
    {
        "id": "2d20e368.60ba24",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "e8faf214.7a0618"
            ]
        ]
    },
    {
        "id": "8455b483.5977d",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get ID/PW",
        "func": "msg.password = msg.payload.password;\nmsg.topic = \"select * from employer where username = '\"+msg.payload.emp+\"'\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "2d20e368.60ba24"
            ]
        ]
    },
    {
        "id": "abc5caaa.c0183",
        "type": "template",
        "z": "bdff3fd8.bc0d4",
        "name": "Format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "a435fbb7.4c747"
            ]
        ]
    },
    {
        "id": "e8faf214.7a0618",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Compare Data",
        "func": "if(msg.payload.password == msg.password){\n    msg.compare = 1;\n}else{\n    msg.compare = 2;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "77f2c440.27cf0c"
            ]
        ]
    },
    {
        "id": "77f2c440.27cf0c",
        "type": "switch",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "property": "compare",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "eb256a8a.467a48"
            ],
            [
                "abc5caaa.c0183"
            ]
        ]
    },
    {
        "id": "a435fbb7.4c747",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 1035,
        "y": 180,
        "wires": []
    },
    {
        "id": "9ad1c081.4a44c8",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "AddSkill",
        "url": "/AddSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "5d3cd54f.a6049c"
            ]
        ]
    },
    {
        "id": "5d3cd54f.a6049c",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into user_has_skill (user_user_id,skill_skill_id,level) values ('\"+msg.payload.user_id+\"','\"+msg.payload.skill_id+\"','\"+msg.payload.level+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "4dad9196.d6c758"
            ]
        ]
    },
    {
        "id": "4dad9196.d6c758",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "8b74568a.be7e1"
            ]
        ]
    },
    {
        "id": "8b74568a.be7e1",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 525,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ca4bf0de.02fc6",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "GetSkill",
        "url": "/GetSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1220,
        "wires": [
            [
                "8cf79308.3f007"
            ]
        ]
    },
    {
        "id": "61fe95d1.c9aad4",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "1f104b1.b6df035"
            ]
        ]
    },
    {
        "id": "8cf79308.3f007",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from skills\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "61fe95d1.c9aad4"
            ]
        ]
    },
    {
        "id": "1f104b1.b6df035",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 495,
        "y": 1220,
        "wires": []
    },
    {
        "id": "863268bf.ea851",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "EmployerSkill",
        "url": "/AddEmpSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1120,
        "wires": [
            [
                "512529d4.a2f308"
            ]
        ]
    },
    {
        "id": "512529d4.a2f308",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into employer_needs_skill (employer_employer_id,skill_skill_id) values ('\"+msg.payload.employer_id+\"','\"+msg.payload.skill_id+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "3e06d114.7ab8c6"
            ]
        ]
    },
    {
        "id": "3e06d114.7ab8c6",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "2fc1fe86.00f75a"
            ]
        ]
    },
    {
        "id": "2fc1fe86.00f75a",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 485,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c1a5807d.cd6c18",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "UpdateEmployer",
        "url": "/setDataEmp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "80dac2b7.00808"
            ]
        ]
    },
    {
        "id": "c8b4b135.cfd3a8",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "UpdateUser",
        "url": "/setDataUser",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "efdc255.e74a0d8"
            ]
        ]
    },
    {
        "id": "efdc255.e74a0d8",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "func": "msg.topic = \"update user set lastname = '\"+msg.payload.lastname+\"', forename = '\"+msg.payload.forename+\"', description = '\"+msg.payload.descr+\"', userpicture = '\"+msg.payload.userpicture+\"', salt = '\"+msg.payload.salt+ \"' where username = '\"+msg.payload.user+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "ad40322f.a84cd8"
            ]
        ]
    },
    {
        "id": "80dac2b7.00808",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "func": "msg.topic = \"update employer set name = '\"+msg.payload.name+\"', employerpicture = '\"+msg.payload.employerpicture+\"', description = '\"+msg.payload.descr+\"', salt = '\"+msg.payload.salt+\"' where username = '\"+msg.payload.username+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "3c068361.7b50ac"
            ]
        ]
    },
    {
        "id": "ad40322f.a84cd8",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3c068361.7b50ac",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cee63ff4.fc65e8",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "work_angel_db",
        "tz": ""
    }
]