wa_json_flow.json
[
    {
        "id": "bdff3fd8.bc0d4",
        "type": "tab",
        "label": "EIT62-WA Design",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd9cbb7c.82c2c",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "RegiUser",
        "url": "/regi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "8a535f6f.3f23d"
            ]
        ]
    },
    {
        "id": "8a535f6f.3f23d",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into user (lastname, forename, description, username, password, salt , userpicture) values ('\"+msg.payload.lastname+\"','\"+msg.payload.forename+\"','\"+msg.payload.description+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.userpicture+\"')\";\nmsg.topic = \"insert into user (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "95201721.908eb"
            ]
        ]
    },
    {
        "id": "95201721.908eb",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "c9062c56.2deac8"
            ]
        ]
    },
    {
        "id": "7bf9eee8.9826e",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "Matches",
        "url": "/matches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 700,
        "wires": [
            [
                "22a6cd05.476ed2"
            ]
        ]
    },
    {
        "id": "22a6cd05.476ed2",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Insert Matches",
        "func": "msg.topic = \"insert into matches (employer_employer_id,user_user_id,compability,user_accepted,employer_accepted) values('\"+msg.payload.employer_id+\"','\"+msg.payload.user_id+\"','\"+msg.payload.compability+\"','\"+msg.payload.user_accepted+\"','\"+msg.payload.employer_accepted+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "5aada1c4.6068a"
            ]
        ]
    },
    {
        "id": "5aada1c4.6068a",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "a048bf8b.9e9038"
            ]
        ]
    },
    {
        "id": "644a73fc.4df86c",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Matches",
        "url": "/getMatches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "2607eabf.5d0e66"
            ]
        ]
    },
    {
        "id": "2607eabf.5d0e66",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Matches ??",
        "func": "msg.topic = \"select * from matches where user_accepted = 'Y' and employer_accepted = 'Y'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 760,
        "wires": [
            [
                "696c8023.306798"
            ]
        ]
    },
    {
        "id": "696c8023.306798",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 760,
        "wires": [
            [
                "a048bf8b.9e9038"
            ]
        ]
    },
    {
        "id": "a048bf8b.9e9038",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 555,
        "y": 740,
        "wires": []
    },
    {
        "id": "c05b11b1.2fd4f8",
        "type": "link in",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "links": [
            "a048bf8b.9e9038",
            "41b503ba.4f796c",
            "c9062c56.2deac8",
            "fd2ab185.e346f8",
            "6193a63f.a5b0d8",
            "21a38900.3bf018",
            "a435fbb7.4c747",
            "8b74568a.be7e1",
            "1f104b1.b6df035",
            "2fc1fe86.00f75a",
            "6c8d9306.13961c",
            "b6dd63c3.2cfae",
            "e23cc4ec.a2f0d",
            "4d908666.ebd6",
            "56475606.a50458",
            "6d7b38c9.8b8e3",
            "6ed46430.56297c"
        ],
        "x": 995,
        "y": 280,
        "wires": [
            [
                "198f209e.b778bf"
            ]
        ]
    },
    {
        "id": "f877fc3b.610bc8",
        "type": "http response",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1265,
        "y": 280,
        "wires": []
    },
    {
        "id": "198f209e.b778bf",
        "type": "json",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1125,
        "y": 280,
        "wires": [
            [
                "f877fc3b.610bc8"
            ]
        ]
    },
    {
        "id": "c9062c56.2deac8",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 535,
        "y": 340,
        "wires": []
    },
    {
        "id": "453fd240.9e0b2c",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "RegiEmp",
        "url": "/regiemployee",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "19e4309a.ffc097"
            ]
        ]
    },
    {
        "id": "19e4309a.ffc097",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into employer (name,username,password,salt,employerpicture,description) values ('\"+msg.payload.name+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.employerpicture+\"','\"+msg.payload.description+\"')\";\nmsg.topic = \"insert into employer (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "f5831746.ba4a7"
            ]
        ]
    },
    {
        "id": "f5831746.ba4a7",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "c9062c56.2deac8"
            ]
        ]
    },
    {
        "id": "3be39fda.69a3e",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "DeleteUser",
        "url": "/deleteUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 900,
        "wires": [
            [
                "c53898ac.06b4f8"
            ]
        ]
    },
    {
        "id": "c53898ac.06b4f8",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Delete User",
        "func": "msg.topic = \"delete from user where username = '\"+msg.payload.user+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "79663101.6c8a1"
            ]
        ]
    },
    {
        "id": "79663101.6c8a1",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 900,
        "wires": [
            [
                "21a38900.3bf018"
            ]
        ]
    },
    {
        "id": "558c6d8d.cb35cc",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "DeleteEmp",
        "url": "/DeleteEmployer",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 960,
        "wires": [
            [
                "13bbcc2e.83275c"
            ]
        ]
    },
    {
        "id": "13bbcc2e.83275c",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Delete Employee",
        "func": "msg.topic = \"delete from employer where username = '\" + msg.payload.employer+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 960,
        "wires": [
            [
                "17a2aa57.80b546"
            ]
        ]
    },
    {
        "id": "17a2aa57.80b546",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 960,
        "wires": [
            [
                "21a38900.3bf018"
            ]
        ]
    },
    {
        "id": "21a38900.3bf018",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 555,
        "y": 900,
        "wires": []
    },
    {
        "id": "9ad1c081.4a44c8",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "AddSkill",
        "url": "/AddSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1080,
        "wires": [
            [
                "5d3cd54f.a6049c"
            ]
        ]
    },
    {
        "id": "5d3cd54f.a6049c",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into user_has_skill (user_user_id,skill_skill_id,level) values ('\"+msg.payload.user_id+\"','\"+msg.payload.skill_id+\"','\"+msg.payload.level+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "4dad9196.d6c758"
            ]
        ]
    },
    {
        "id": "4dad9196.d6c758",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "8b74568a.be7e1"
            ]
        ]
    },
    {
        "id": "8b74568a.be7e1",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 505,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ca4bf0de.02fc6",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "GetEmpSkill",
        "url": "/GetEmpSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1220,
        "wires": [
            [
                "8cf79308.3f007"
            ]
        ]
    },
    {
        "id": "61fe95d1.c9aad4",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "1f104b1.b6df035"
            ]
        ]
    },
    {
        "id": "8cf79308.3f007",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from employer_needs_skills es, skills s where es.employer_employer_id ='\"+msg.payload.emp+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "61fe95d1.c9aad4"
            ]
        ]
    },
    {
        "id": "1f104b1.b6df035",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 465,
        "y": 1220,
        "wires": []
    },
    {
        "id": "863268bf.ea851",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "EmployerSkill",
        "url": "/AddEmpSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1120,
        "wires": [
            [
                "512529d4.a2f308"
            ]
        ]
    },
    {
        "id": "512529d4.a2f308",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into employer_needs_skill (employer_employer_id,skill_skill_id) values ('\"+msg.payload.employer_id+\"','\"+msg.payload.skill_id+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "3e06d114.7ab8c6"
            ]
        ]
    },
    {
        "id": "3e06d114.7ab8c6",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "2fc1fe86.00f75a"
            ]
        ]
    },
    {
        "id": "2fc1fe86.00f75a",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 495,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c1a5807d.cd6c18",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "UpdateEmployer",
        "url": "/setDataEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "80dac2b7.00808"
            ]
        ]
    },
    {
        "id": "c8b4b135.cfd3a8",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "UpdateUser",
        "url": "/setDataUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "efdc255.e74a0d8"
            ]
        ]
    },
    {
        "id": "efdc255.e74a0d8",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "func": "msg.topic = \"update user set lastname = '\"+msg.payload.lastname+\"', forename = '\"+msg.payload.forename+\"', description = '\"+msg.payload.descr+\"', userpicture = '\"+msg.payload.userpicture+\"', salt = '\"+msg.payload.salt+ \"' where username = '\"+msg.payload.username+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "ad40322f.a84cd8"
            ]
        ]
    },
    {
        "id": "80dac2b7.00808",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "func": "msg.topic = \"update employer set name = '\"+msg.payload.name+\"', employerpicture = '\"+msg.payload.employerpicture+\"', description = '\"+msg.payload.descr+\"', salt = '\"+msg.payload.salt+\"' where username = '\"+msg.payload.employername+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "3c068361.7b50ac"
            ]
        ]
    },
    {
        "id": "ad40322f.a84cd8",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "6c8d9306.13961c"
            ]
        ]
    },
    {
        "id": "3c068361.7b50ac",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "6c8d9306.13961c"
            ]
        ]
    },
    {
        "id": "6c8d9306.13961c",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 555,
        "y": 540,
        "wires": []
    },
    {
        "id": "3d79a745.524558",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "Login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "81b6c971.e6f3f"
            ]
        ]
    },
    {
        "id": "81b6c971.e6f3f",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Select user",
        "func": "msg.topic = \"select * from employer e, user u where u.username = '\"+ msg.payload.username + \"' or e.username = '\" + msg.payload.username + \"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "c1778197.728728"
            ]
        ]
    },
    {
        "id": "c1778197.728728",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "e23cc4ec.a2f0d"
            ]
        ]
    },
    {
        "id": "e23cc4ec.a2f0d",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 515,
        "y": 200,
        "wires": []
    },
    {
        "id": "f409c487.6888f",
        "type": "inject",
        "z": "bdff3fd8.bc0d4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a110f14e.9a03e"
            ]
        ]
    },
    {
        "id": "a110f14e.9a03e",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "delete matches",
        "func": "msg.topic = \"delete from matches where user_accepted is not true or employer_accepted is not true\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "434db126.2ab6b8"
            ]
        ]
    },
    {
        "id": "434db126.2ab6b8",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 490,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3e7fbc62.d41f34",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Loescht die matches nach 24h, wenn der user und employer nicht akpzeptiert hat",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "9f885617.1334b8",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Login fuer den User & Employer",
        "info": "",
        "x": 160,
        "y": 160,
        "wires": []
    },
    {
        "id": "f6f71dd0.91be2",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Registierung fuer den User & Employer",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "f8f9f7ec.0f6c2",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Update die Daten fuer den User, wenn der diese aendern moechte",
        "info": "",
        "x": 260,
        "y": 460,
        "wires": []
    },
    {
        "id": "24d1bc40.99d7e4",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Einfuegen/Holt sich die Matches",
        "info": "",
        "x": 150,
        "y": 660,
        "wires": []
    },
    {
        "id": "937aabb1.5eea38",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Zum loeschen der Daten vom User/Employer",
        "info": "",
        "x": 190,
        "y": 860,
        "wires": []
    },
    {
        "id": "42f71c03.784c3c",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Fuegt die ausgewaehlten Skill zu den User/Employer",
        "info": "",
        "x": 210,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d1837fb1.2488d",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "Holt sich die Skills",
        "info": "",
        "x": 110,
        "y": 1180,
        "wires": []
    },
    {
        "id": "91de3da7.507848",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "GetEmp",
        "url": "/getAllEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 60,
        "y": 1380,
        "wires": [
            [
                "83e0bdfc.6f42a8"
            ]
        ]
    },
    {
        "id": "58a63a90.2bad5c",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 350,
        "y": 1380,
        "wires": [
            [
                "4d908666.ebd6"
            ]
        ]
    },
    {
        "id": "83e0bdfc.6f42a8",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from employer\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 1380,
        "wires": [
            [
                "58a63a90.2bad5c"
            ]
        ]
    },
    {
        "id": "4d908666.ebd6",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 475,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a5979aa4.7fd7d",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "GetUser",
        "url": "/getAllUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 60,
        "y": 1420,
        "wires": [
            [
                "2823d1f2.a55d66"
            ]
        ]
    },
    {
        "id": "9bf5dfa2.2a78a8",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 350,
        "y": 1420,
        "wires": [
            [
                "56475606.a50458"
            ]
        ]
    },
    {
        "id": "2823d1f2.a55d66",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from user\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "9bf5dfa2.2a78a8"
            ]
        ]
    },
    {
        "id": "56475606.a50458",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 475,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b81e2b0.66fe158",
        "type": "comment",
        "z": "bdff3fd8.bc0d4",
        "name": "holt sich alle User/Employer",
        "info": "",
        "x": 130,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6ceca7a6.74e13",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "GetUserSkill",
        "url": "/GetUserSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1260,
        "wires": [
            [
                "79126529.076274"
            ]
        ]
    },
    {
        "id": "b6d190aa.476198",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "6d7b38c9.8b8e3"
            ]
        ]
    },
    {
        "id": "79126529.076274",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from user_has_skill us, skills s where us.user_user_id ='\"+msg.payload.user+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "b6d190aa.476198"
            ]
        ]
    },
    {
        "id": "6d7b38c9.8b8e3",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 465,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b891c062.1afa4",
        "type": "http in",
        "z": "bdff3fd8.bc0d4",
        "name": "GetSkill",
        "url": "/GetSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 1300,
        "wires": [
            [
                "e430da8f.01bd68"
            ]
        ]
    },
    {
        "id": "ee56c0f0.b2bcf",
        "type": "mysql",
        "z": "bdff3fd8.bc0d4",
        "mydb": "cee63ff4.fc65e8",
        "name": "WA",
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "6ed46430.56297c"
            ]
        ]
    },
    {
        "id": "e430da8f.01bd68",
        "type": "function",
        "z": "bdff3fd8.bc0d4",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from skills\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "ee56c0f0.b2bcf"
            ]
        ]
    },
    {
        "id": "6ed46430.56297c",
        "type": "link out",
        "z": "bdff3fd8.bc0d4",
        "name": "Out Format",
        "links": [
            "c05b11b1.2fd4f8"
        ],
        "x": 465,
        "y": 1300,
        "wires": []
    },
    {
        "id": "cee63ff4.fc65e8",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "work_angel_db",
        "tz": ""
    }
]