workangel_node.json
[
    {
        "id": "fbef2e31.6cba7",
        "type": "switch",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "property": "compare",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "aafe8075.b734b"
            ],
            [
                "3eeb6e89.ec4612"
            ]
        ]
    },
    {
        "id": "947ec3e4.12e2b",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "LoginUser",
        "url": "/loginUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "ef30a471.49b178"
            ]
        ]
    },
    {
        "id": "61f12f6e.f52ab",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "537d52dc.03490c"
            ]
        ]
    },
    {
        "id": "ef30a471.49b178",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Get ID/PW",
        "func": "msg.password = msg.payload.password;\nmsg.topic = \"select * from user where username = '\" + msg.payload.user+\"'\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "61f12f6e.f52ab"
            ]
        ]
    },
    {
        "id": "f52824e4.da23b8",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "RegiUser",
        "url": "/regi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "1f48d9df.332dd6"
            ]
        ]
    },
    {
        "id": "1f48d9df.332dd6",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into user (lastname, forename, description, username, password, salt , userpicture) values ('\"+msg.payload.lastname+\"','\"+msg.payload.forename+\"','\"+msg.payload.description+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.userpicture+\"')\";\nmsg.topic = \"insert into user (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "31562ff4.edc39"
            ]
        ]
    },
    {
        "id": "31562ff4.edc39",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "590a3a7f.343e74"
            ]
        ]
    },
    {
        "id": "e599709f.377e9",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "Matches",
        "url": "/matches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "65d1711c.eb222"
            ]
        ]
    },
    {
        "id": "65d1711c.eb222",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Insert Matches",
        "func": "msg.topic = \"insert into matches (employer_employer_id,user_user_id,compability,user_accepted,employer_accepted) values('\"+msg.payload.employer_id+\"','\"+msg.payload.user_id+\"','\"+msg.payload.compability+\"','\"+msg.payload.user_accepted+\"','\"+msg.payload.employer_accepted+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 740,
        "wires": [
            [
                "e3a2bebd.748a8"
            ]
        ]
    },
    {
        "id": "e3a2bebd.748a8",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 450,
        "y": 740,
        "wires": [
            [
                "b07bb180.4f65f"
            ]
        ]
    },
    {
        "id": "29582525.bb0c8a",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "Get Matches",
        "url": "/getMatches",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "e230e129.7c6e1"
            ]
        ]
    },
    {
        "id": "e230e129.7c6e1",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Get Matches ??",
        "func": "msg.topic = \"select * from matches where user_accepted = 'Y' and employer_accepted = 'Y'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 840,
        "wires": [
            [
                "d37c4253.8ccc"
            ]
        ]
    },
    {
        "id": "d37c4253.8ccc",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 450,
        "y": 840,
        "wires": [
            [
                "b07bb180.4f65f"
            ]
        ]
    },
    {
        "id": "b07bb180.4f65f",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 575,
        "y": 800,
        "wires": []
    },
    {
        "id": "2ed4261a.c0b28a",
        "type": "link in",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "links": [
            "b07bb180.4f65f",
            "8900b7a0.c9be08",
            "590a3a7f.343e74",
            "fd2ab185.e346f8",
            "6193a63f.a5b0d8",
            "a9f035f8.487108",
            "c50b674f.72ddf8",
            "4d3d636b.720dbc",
            "90005513.f0cfe8",
            "731c6740.cb2688",
            "b50aa741.c9acd8",
            "b6dd63c3.2cfae"
        ],
        "x": 995,
        "y": 280,
        "wires": [
            [
                "ec3c6855.fdd538"
            ]
        ]
    },
    {
        "id": "767273d7.101d0c",
        "type": "http response",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1265,
        "y": 280,
        "wires": []
    },
    {
        "id": "ec3c6855.fdd538",
        "type": "json",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1125,
        "y": 280,
        "wires": [
            [
                "767273d7.101d0c"
            ]
        ]
    },
    {
        "id": "8900b7a0.c9be08",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 1035,
        "y": 60,
        "wires": []
    },
    {
        "id": "590a3a7f.343e74",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 535,
        "y": 340,
        "wires": []
    },
    {
        "id": "33668b12.a21e94",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "RegiEmp",
        "url": "/regiemployee",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "603cf70c.189d98"
            ]
        ]
    },
    {
        "id": "603cf70c.189d98",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Insert Data",
        "func": "//msg.topic = \"insert into employer (name,username,password,salt,employerpicture,description) values ('\"+msg.payload.name+\"','\"+msg.payload.username+\"','\"+msg.payload.password+\"','\"+msg.payload.salt+\"','\"+msg.payload.employerpicture+\"','\"+msg.payload.description+\"')\";\nmsg.topic = \"insert into employer (username, password) values ('\"+msg.payload.username+\"','\"+msg.payload.password+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "282ecc02.d70aa4"
            ]
        ]
    },
    {
        "id": "282ecc02.d70aa4",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "590a3a7f.343e74"
            ]
        ]
    },
    {
        "id": "987adfdd.4b001",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "DeleteUser",
        "url": "/deleteUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 940,
        "wires": [
            [
                "87b17030.52918"
            ]
        ]
    },
    {
        "id": "87b17030.52918",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Delete User",
        "func": "msg.topic = \"delete from user where username = '\"+msg.payload.user+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "753a1916.959e28"
            ]
        ]
    },
    {
        "id": "753a1916.959e28",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 400,
        "y": 940,
        "wires": [
            [
                "a9f035f8.487108"
            ]
        ]
    },
    {
        "id": "a1c9d16d.396fd",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "DeleteEmp",
        "url": "/DeleteEmployer",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1000,
        "wires": [
            [
                "4e36ec30.4dbf44"
            ]
        ]
    },
    {
        "id": "4e36ec30.4dbf44",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Delete Employee",
        "func": "msg.topic = \"delete from employer where username = '\" + msg.payload.employer+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "f6148e66.8fb21"
            ]
        ]
    },
    {
        "id": "f6148e66.8fb21",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "a9f035f8.487108"
            ]
        ]
    },
    {
        "id": "a9f035f8.487108",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 595,
        "y": 960,
        "wires": []
    },
    {
        "id": "b44c1203.2ff9c",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "LoginEmp",
        "url": "/loginEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "5740de17.2d876"
            ]
        ]
    },
    {
        "id": "58f32ca3.0a67d4",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "90e1f0d9.fade4"
            ]
        ]
    },
    {
        "id": "5740de17.2d876",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Get ID/PW",
        "func": "msg.password = msg.payload.password;\nmsg.topic = \"select * from employer where username = '\"+msg.payload.emp+\"'\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "58f32ca3.0a67d4"
            ]
        ]
    },
    {
        "id": "c50b674f.72ddf8",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 1035,
        "y": 180,
        "wires": []
    },
    {
        "id": "a25d32ae.aa414",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "AddSkill",
        "url": "/AddSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "3f4e8b36.646234"
            ]
        ]
    },
    {
        "id": "3f4e8b36.646234",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into user_has_skill (user_user_id,skill_skill_id,level) values ('\"+msg.payload.user_id+\"','\"+msg.payload.skill_id+\"','\"+msg.payload.level+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "bf391ebe.f1ab7"
            ]
        ]
    },
    {
        "id": "bf391ebe.f1ab7",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "4d3d636b.720dbc"
            ]
        ]
    },
    {
        "id": "4d3d636b.720dbc",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 525,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6b7a0f39.ce8e4",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "GetSkill",
        "url": "/GetSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1220,
        "wires": [
            [
                "bd1b28dd.a79888"
            ]
        ]
    },
    {
        "id": "b463c4d9.a3e628",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "90005513.f0cfe8"
            ]
        ]
    },
    {
        "id": "bd1b28dd.a79888",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Get Skills",
        "func": "msg.topic = \"select * from skills\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "b463c4d9.a3e628"
            ]
        ]
    },
    {
        "id": "90005513.f0cfe8",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 495,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f3132c43.682f9",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "EmployerSkill",
        "url": "/AddEmpSkill",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 1120,
        "wires": [
            [
                "2abac60e.55558a"
            ]
        ]
    },
    {
        "id": "2abac60e.55558a",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Add Skill",
        "func": "msg.topic = \"insert into employer_needs_skill (employer_employer_id,skill_skill_id) values ('\"+msg.payload.employer_id+\"','\"+msg.payload.skill_id+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "bf69d2f4.47fcd"
            ]
        ]
    },
    {
        "id": "bf69d2f4.47fcd",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "731c6740.cb2688"
            ]
        ]
    },
    {
        "id": "731c6740.cb2688",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 485,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ee1fdc8b.586d",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "UpdateEmployer",
        "url": "/setDataEmp",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "63acc09d.90f06"
            ]
        ]
    },
    {
        "id": "42c0a789.d04988",
        "type": "http in",
        "z": "f1d5e28c.51cc3",
        "name": "UpdateUser",
        "url": "/setDataUser",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "d0dc5d05.f9253"
            ]
        ]
    },
    {
        "id": "d0dc5d05.f9253",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "func": "msg.topic = \"update user set lastname = '\"+msg.payload.lastname+\"', forename = '\"+msg.payload.forename+\"', description = '\"+msg.payload.descr+\"', userpicture = '\"+msg.payload.userpicture+\"', salt = '\"+msg.payload.salt+ \"' where username = '\"+msg.payload.username+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "f67612b2.7eb9c"
            ]
        ]
    },
    {
        "id": "63acc09d.90f06",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "func": "msg.topic = \"update employer set name = '\"+msg.payload.name+\"', employerpicture = '\"+msg.payload.employerpicture+\"', description = '\"+msg.payload.descr+\"', salt = '\"+msg.payload.salt+\"' where username = '\"+msg.payload.employername+\"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "466e3c69.6753b4"
            ]
        ]
    },
    {
        "id": "f67612b2.7eb9c",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "b50aa741.c9acd8"
            ]
        ]
    },
    {
        "id": "466e3c69.6753b4",
        "type": "mysql",
        "z": "f1d5e28c.51cc3",
        "mydb": "3379ef25.fa932",
        "name": "WA",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "b50aa741.c9acd8"
            ]
        ]
    },
    {
        "id": "b50aa741.c9acd8",
        "type": "link out",
        "z": "f1d5e28c.51cc3",
        "name": "Out Format",
        "links": [
            "2ed4261a.c0b28a"
        ],
        "x": 555,
        "y": 540,
        "wires": []
    },
    {
        "id": "90e1f0d9.fade4",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Compare Data",
        "func": "if(msg.payload.password == msg.password){\n    msg.compare = 1;\n}else{\n    msg.compare = 2;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "fbef2e31.6cba7"
            ]
        ]
    },
    {
        "id": "3eeb6e89.ec4612",
        "type": "template",
        "z": "f1d5e28c.51cc3",
        "name": "Format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n\"login\": 1\n}",
        "output": "str",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "c50b674f.72ddf8"
            ]
        ]
    },
    {
        "id": "aafe8075.b734b",
        "type": "template",
        "z": "f1d5e28c.51cc3",
        "name": "Format - Fehler",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n\"login\": 0\n}",
        "output": "str",
        "x": 860,
        "y": 140,
        "wires": [
            [
                "c50b674f.72ddf8"
            ]
        ]
    },
    {
        "id": "537d52dc.03490c",
        "type": "function",
        "z": "f1d5e28c.51cc3",
        "name": "Compare Data",
        "func": "if(msg.payload.password == msg.password){\n    msg.compare = 1;\n}else{\n    msg.compare = 2;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "efcf12d9.8458c"
            ]
        ]
    },
    {
        "id": "efcf12d9.8458c",
        "type": "switch",
        "z": "f1d5e28c.51cc3",
        "name": "",
        "property": "compare",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "3816248b.919a1c"
            ],
            [
                "8900b7a0.c9be08"
            ]
        ]
    },
    {
        "id": "3816248b.919a1c",
        "type": "template",
        "z": "f1d5e28c.51cc3",
        "name": "Format - Fehler",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n\"login\": 1\n}",
        "output": "str",
        "x": 860,
        "y": 20,
        "wires": [
            [
                "8900b7a0.c9be08"
            ]
        ]
    },
    {
        "id": "3379ef25.fa932",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "work_angel_db",
        "tz": ""
    }
]